<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="woo.sopt22.meowbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MeowBoxStory.MeowBoxStoryActivity"
            android:label="@string/title_activity_meow_box_story"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.MeowBoxReview.MeowBoxReviewActivity"
            android:label="@string/title_activity_meow_box_review"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Order.OrderFirstActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.MeowBoxDetail.MeowBoxDetailActivity"
            android:label="@string/title_activity_meow_box_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.MyPage.MyPageActivity"
            android:label="@string/title_activity_my_page"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.MyPage.MySettingActivity" />
        <activity android:name=".View.Login.LoginActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".View.Join.JoinActivity" />
        <activity android:name=".View.MyPage.Suggest.MyPageSuggestActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".View.MyPage.Setting.MyPageSettingActivity" />
        <activity android:name=".View.MyPage.FAQ.QuestionActivity" />
        <activity
            android:name=".View.MyPage.Setting.TermsActivity"
            android:label="@string/title_activity_terms"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.MyPage.Setting.NoticeActivity" />
        <activity android:name=".View.MyPage.Setting.Notice.Notice2Activity" />
        <activity android:name=".View.MyPage.OrderHistory.OrderHistoryActivity" />
        <activity android:name=".View.MyPage.Setting.Terms.Terms2Activity" />
        <activity android:name=".View.MyPage.OrderHistory.OrderHistoryDetail.OrderHistoryDetailActivity" />
        <activity
            android:name=".View.Order.OrderThirdActivity"
            android:label="@string/title_activity_order_third"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>